body {
	margin:0;
	padding: 0;
}

body > div {
	height: 500px;
	background-color: #fff;
}

body > div:nth-child(odd){
	background-color: #C4C3B1;
}

.container {
	width: 960px;
	margin: 0 auto;

}

#cilj img {
	display: block;
}

.leva_kolona, .desna_kolona {
	position: relative;
	width: 50%;
	float: left;
	margin-top: 40px;
	height: 500px;
}

#cilj p, #cilj img {
	position: absolute;
	
	
}

#cilj p {
	opacity: 0;
	left: -50px;
	width: 480px;
	transition: left 1s, opacity 1s;
}

#cilj img {
	opacity: 0;
	right: -50px;
	width: 480px;
	transition: right 1s, opacity 1s;
}

.p_stanje2 {
	display: block !important;
	left: 0 !important;
	opacity: 1 !important;
	transition: left 1s, opacity 1s;
}

.img_stanje2 {
	display: block !important;
	right: 0 !important;
	opacity: 1 !important;
	transition: right 1s, opacity 1s;
}




